<div class="background"></div>
<div class="container">
    <form class="sign-up-form" [formGroup]="registerForm">
        <h1>{{'sign_up' | translate}}</h1>
        <label>{{'first_name' | translate}}*</label>
        <input type="text" class="form-input" formControlName = "firstName" 
            placeholder="{{'enter_first_name' | translate}}">
        <label style="margin-top: 2vh;">{{'last_name' | translate}}*</label>
        <input type="password" class="form-input" formControlName = "lastName"
            placeholder="{{'enter_last_name' | translate}}">
        <label style="margin-top: 2vh;">{{'email' | translate}}*</label>
        <input type="email" class="form-input" formControlName = "email"
            placeholder="{{'enter_email' | translate}}">
        <label style="margin-top: 2vh;">{{'password' | translate}}*</label>
        <input type="password" class="form-input" formControlName = "password"
            placeholder="{{'enter_password' | translate}}">
        <div class="sign-buttons">
            <button type="button" >{{'cancel' | translate}}</button>
            <button type="button" >{{'sign_up_button' | translate}}</button>
        </div>
    </form>
    <div class="logo">
        <img src="../../../assets/logo/logo.svg" style="width: 100%; height: auto;">
    </div>
</div>
