.container {

    background: #075b66;
    border-radius: 0.5em;

    padding-bottom: 1em;

    h1 {
        padding-top: 0.3em;
        font-size: 2vh;
        color: white;
    }
}

.example-action-buttons {
    padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 1;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: flex-start;
}

.headers-align .mat-form-field+.mat-form-field {
    margin-left: 0.5em;
}

.mat-accordion .mat-expansion-panel {
    margin-bottom: 2em;
}

.mat-form-field {
    width: 50%;
    height: 50%;

    .mat-label {
        font-size: 0.5em;
    }
}

.mat-action-row {
    padding: 0;
}