* {
    transition: all 0.5s;
}

.settings-container {
    overflow: hidden;
    height: calc(100vh - 60px);

    .sidenav {
        height: calc(100vh - 95px);
        background: #075b66;
        color: white;
        font-weight: 500;
        width: 10em;
        border-right: none;
        border-radius: 0.5em;
        margin: 1em;
        text-align: center;

        mat-nav-list {
            padding: 0;
        }

        .menu-button,
        .menu-button-hamburger {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 1em;
            padding-top: 1em;
            padding-bottom: 1em;

            .icon_text {
                margin-right: 0.5em;
            }
        }

        .menu-button-hamburger {
            padding: 0em;
        }
    }

    #hamburger {
        width: 1em;
        height: 1em;
        font-size: 2em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        cursor: pointer;
    }

    .content {
        height: calc(100vh - 95px);
        margin: 1em;
        margin-left: 2em;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #68EDCB;
    }
}

mat-divider {
    background-color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.toolbar {
    .menu-item {
        margin-right: 1em;

        .toolbarHamburger {
            cursor: pointer;
        }
    }
}

.active {
    color: #95F7B1 !important;
}