<app-toolbar></app-toolbar>
<div class="background"></div>
<div class="background-img"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
            <div class="left-col">
                <p>{{'welcome' | translate}}</p>
                <p>{{firstName}}</p>
            </div>
        </div>
        <div class="col">
            <div class="right-col">
                <div class="quote-card">
                    <div class="quote">
                        <p class="quote-title">{{'quote' | translate}}</p>
                        <p class="quote">{{randomQuote}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div>
        <p>{{'welcome' | translate}}</p>
        <p>{{firstName}}</p>
    </div>
    <div class="quote-block">
        <p>{{'quote' | translate}}</p>
        <p class="quote">{{randomQuote}}</p>
    </div>
</div>