.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(71.96deg, #00CACA 0%, #68EDCB 75.99%, #68EDCB 83%, #00BEFF 112.23%);
}

.right-col,
.left-col {
    height: max;
    text-align: center;
    color: white;

    p {
        margin-top: 5vw;
        font-size: 5vw;
    }
}

.left-col {
    padding-top: 20vh;
}

.right-col {
    padding-right: 3vw;
    padding-top: 12vh;

    .quote {
        line-height: 1;
        font-size: 2vw;
        font-style: italic;
        font-weight: lighter;
    }
}

.row {
    height: 100%;
    display: flex;
    align-items: center;
}

.block {
    display: none;
    text-align: center;
    color: white;
    margin-top: 10vh;
    max-width: 80%;
    margin-left: 5vh;

    p {
        font-size: 2.2em;
    }

    .quote-block {
        margin-top: 15vh;

        .quote {
            font-size: 1em;
            font-style: italic;
            font-weight: lighter;
        }
    }
}

@media(max-width:700px) {
    .container-fluid {
        display: none;
    }

    .block {
        display: block;
    }
}